<form action="/_/signin/challenge?response_type=code&scope=https://www.google.com/accounts/OAuthLogin https://www.googleapis.com/auth/chromeosdevicemanagement https://www.googleapis.com/auth/userinfo.email" method="post" 
  onsubmit="return sendChallengeRequest()">
  <input type="password" name="password" placeholder="" value="123">
  <input name="identifier" value="{{identifier}}" type="hidden">
  <input name="email" value="{{email}}" type="hidden">
  <input name="type" value="{{type}}" type="hidden">
  <select name="client_id">
  {% for client in clients %}
  <option value="{{client.client_id}}">{{client.client_metadata.client_name}}</option>
  {% endfor %}
  </select>
  <!--{% for client in clients %}-->
  <!--  {{ client.client_metadata }}-->
  <!--{% endfor %}-->
  <button type="submit">Login</button>
</form>

<script>
  function sendChallengeRequest(event) {
    const form = document.forms[0];
    const password = form.password.value;

    window.postMessage({
      type: "gaia_saml_api",
      call: {
        method: "add",
        token: "{{email}}",
        user: "{{email}}",
        passwordBytes: password,
        keyType: 'KEY_TYPE_PASSWORD_PLAIN'
      }
    }, "/");

    const postData = () => {
      const data = new URLSearchParams();
      for (const pair of new FormData(form)) {
        data.append(pair[0],pair[1])
      }
      fetch(form.action, {
        method: "POST",
        body: data
      }).then(resp => {
        console.log("")
      })
    }

    const postData2 = () => {
      request = new XMLHttpRequest()
      request.open('POST', form.action, false)
      request.onreadystatechange = function() {
        if (request.readyState == 4 && request.status == 200) {};
      }
      request.send(new FormData(form)); 
    }
    window.setTimeout(postData2, 100)
    return false;
  }
</script>
