<form action="/_/signin/challenge?response_type=code&client_id=IvTHYBHaCqqjAecZ7EWucIWI&scope=profile" method="post"
  onsubmit="return sendChallengeRequest()">
  <input type="password" name="password" placeholder="" value="123">
  <input name="identifier" value="{{identifier}}" type="hidden">
  <input name="email" value="{{email}}" type="hidden">
  <input name="type" value="{{type}}" type="hidden">
  <button type="submit">Login</button>
</form>

<script>
  function sendChallengeRequest(event) {
    const form = document.forms[0];
    const password = form.password.value;

    window.postMessage({
      type: "gaia_saml_api",
      call: {
        method: "add",
        token: "{{email}}",
        user: "{{email}}",
        passwordBytes: password,
        keyType: 'KEY_TYPE_PASSWORD_PLAIN'
      }
    }, "/");

    const postData = () => {
      const data = new URLSearchParams();
      for (const pair of new FormData(form)) {
        data.append(pair[0],pair[1])
      }
      fetch(form.action, {
        method: "POST",
        body: data
      }).then(resp => {
        console.log("")
      })
    }
    window.setTimeout(postData, 100)
    return false;
  }
</script>
